extends ../layout

block content
  .container
    .row
      if !docs.length
        .jumbotron
          .container
            h2 I'm sorry. "#{keyword}" could not be found :-(
        a(href="/") » back
      else
        each slide in docs
          .col-lg-4
            h2 #{slide.title}
            p #{slide.description} (#{slide.length} page)
            p
              a.btn.btn-default(href='/slide/#{slide.id}/') View details »
