extends ../layout

block content
  .jumbotron
    .container
      .row
        if !docs.length
          .container
            h2 I'm sorry. "#{keyword}" could not be found :-(
          a(href="/") » back
        else
          ul.row
            each doc in docs
              slide = doc._source
              li.col-md-4
                a.thumb(href="/slide/#{slide.id}/")
                  figure
                    span
                      img(src="#{slide.slides[0]}", width="122px")
                      figcaption
                        small #{slide.title} (#{slide.length} page)
