extends ../layout

block content
  .container
    .col-md-10
      h2 #{row.title}
      #slide-player
        .thumbnail
          each slide, idx in row.slides
            if idx === 0
              img(class="slide slide-#{idx}", src="#{slide}", data-page="#{idx}")
            else
              img(class="slide slide-#{idx}", src="#{slide}", data-page="#{idx}", style="display: none;")
          .caption(style="text-align: center;")
            ul.pagination
              li
                a#first.glyphicon.glyphicon-fast-backward(href="#")
              li
                a#prev.glyphicon.glyphicon-backward(href="#")
              li
                a#next.glyphicon.glyphicon-forward(href="#")
              li
                a#last.glyphicon.glyphicon-fast-forward(href="#")
      p
        span author
        .well.well-sm
          | #{row.author}

      p
        span keyword
        .well.well-sm
          | #{row.tag}

      p
        span description
        .well.well-lg
          | #{row.description}
