extends ../layout

block content
  .jumbotron
    .container
      #slide-player.slidePlayer
        .slideCaption
          span #{row.title}
        .slideBox#thumbnail
          each slide, idx in row.slides
            if idx === 0
              img(class="slide slide-#{idx} normal", src="#{slide}", data-page="#{idx}")
            else
              img(class="slide slide-#{idx} normal", src="#{slide}", data-page="#{idx}", style="display: none;")
        .pagination
          ul
            li.first
              a#first.glyphicon.glyphicon-fast-backward(href="#")
            li.previous
              a#prev.fui-arrow-left.circle(href="#")
            li.page
              span.counter
                span#count 1
                | /#{row.length}
            li.next
              a#next.fui-arrow-right.circle(href="#")
            li.last
              a#last.glyphicon.glyphicon-fast-forward(href="#")
            li#zoom.vjs-fullscreen-control.vjs-control.zoom
              span.vjs-control-text
      .slideInfo.clearfix
        dl
          dt author
          dd.well.well-sm
            | #{row.author}

        dl
          dt keyword
          dd.well.well-sm
            | #{row.tag}

        dl
          dt description
          dd.well.well-lg
            | #{row.description}
